*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100vw;
  background-color: #343131;
  
}

.food-header{
  height: 70px;
  background-color: rgb(186, 55, 55);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: bisque;
  padding-left: 16px;
  
}
/*#343131*/

.cart-img{
  height: 20px;
  width: 20px;
  position: relative;
  top: 8px;
}

.cart-button{
  border: none;
  background-color: brown;
  height: 24px;
  width: 28px;
  border-radius: 20px;
  cursor: pointer;
}

.cart{
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 4px;
  margin-right: 8px;
  background-color: rgb(122, 44, 44);
  border-radius: 18px;
  color: bisque;
  width: 168px;
}

.dinner-table{
  width: 100%;
  height: 500px;
  
}

.information{
  height: 200px;
  width: 800px;
  background-color: rgb(74, 73, 73);
  color: white;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  top: 250px;
  left: 370px;
  text-align: center;
  line-height: 25px;
}

.meal-card{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
 
  
}

.price-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-button{
  border: none;
  background-color: brown;
  height: 30px;
  width: 100px;
  border-radius: 12px;
}

#meal-amount{
  width: 50px;
}


.card-divs{
  width: 800px;
  gap: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}